/* CSS Module */
/* 리액트에서 커모넌트를 스타일링 할 때 CSS Module을 사용하면 CSS 클래스가 중첩되는 것을 방지할 수 있다. */
/* [모듈명].module.css 와 같이 파일명 적용 */
/* 적용: 컴포넌트에서 css 파일을 불러와 적용(불러올때 자동으로 CSS 클래스명이 고유한 이름으로 변경 */

.Box {
    background: #000000;
    color: #fff;
    padding: 20px;
}